# ---------------------------
# Python (awatp/)
# ---------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Reports (scan output)
reports/
*.json

# IDE / Editor
.vscode/
.idea/
.DS_Store

# ---------------------------
# Flutter (awatp_ui/)
# ---------------------------
awatp_ui/build/
awatp_ui/.dart_tool/
awatp_ui/.packages
awatp_ui/.pub/
awatp_ui/.flutter-plugins
awatp_ui/.flutter-plugins-dependencies
awatp_ui/.metadata
awatp_ui/pubspec.lock
awatp_ui/*.iml
awatp_ui/.DS_Store
awatp_ui/.idea/
awatp_ui/.vscode/
